<ion-view align-title="left" ng-init="init()">

  <ion-nav-bar class="bar-dark" ng-hide="isHideHeader">
    <ion-nav-title>{{ chapter_pageName }}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.home">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-header-bar align-title="left" class="bar-subheader item-input item-search" ng-hide="isHideHeader">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search book" ng-model="searchText" ng-change="highlightSearch()">
    <span class="clear-search" on-tap="openPopoverSetting($event)">
      <i class="icon" ng-class="selectedBook.isSelectedChapterBookmarked?'ion-ios-bookmarks energized':'ion-ios-paw-outline color-light-grey'"></i>
    </span>
    <span class="clear-search" on-tap="switchBible($event)">
      <i class="icon ion-earth" ng-class="isSecondaryBible?'positive':'color-light-grey'"></i>
    </span>
    <span class="clear-search" on-tap="openHistory($event)">
      <i class="icon ion-ios-skipbackward-outline"></i>
    </span>
  </ion-header-bar>

  <button ng-if="isCopyMode==true" on-tap="copySelectedVerses()" class="button button-positive"
          style="z-index:9999;position:fixed;top:initial;bottom:5px;right:5px;">
    Copy
  </button>

  <ion-content ng-class="{'no-header':isHideHeader}" padding="false"
               on-double-tap="hideHeaderBar()"
               delegate-handle="chapterScroll">
    <ion-list class="zebra-list">
      <ion-item ng-repeat="verse in selectedBook.verses track by $index" class="full-text"
                ng-class="[
                  fontSizeClass,
                  selectedBook.highlights.indexOf(verse.verse)>-1?'background-highlight':'',
                  highlight_copies.indexOf(selectedBook.number+'_'+selectedBook.chapter+'_'+verse.verse)>-1?'copy-highlight':'']">
        <div ng-if="!isDualBible && isSecondaryBible">
          <div class="row verse_title padding-left" ng-if="verse.second_title"
               ng-bind-html="verse.second_title">
          </div>
          <div class="row">
            <div class="col col-10 col-center verse_number" ng-class="fontScriptClass" ng-bind-html="verse.verse"></div>
            <div class="col col-90" ng-bind-html="verse.second_text" on-tap="onTapVerse(verse)">
            </div>
          </div>
        </div>
        <div ng-if="isDualBible || (!isDualBible && !isSecondaryBible)">
          <div class="row verse_title padding-left" ng-if="verse.title">
            {{ verse.title }}
          </div>
          <div class="row">
            <div class="col col-10 col-center verse_number" ng-class="fontScriptClass" ng-hide="bibleLang=='en'">
              {{ verse.verse }}
            </div>
            <div class="col col-10 col-center verse_number" ng-class="fontScriptClass"
                 on-tap="tts(verse.text,speakingSpeed)" ng-show="bibleLang=='en'">
              {{ verse.verse }}
              <i class="icon ion-android-volume-up"></i>
            </div>
            <div class="col col-90" on-tap="onTapVerse(verse)">
              <span ng-bind-html="verse.text_highlight || verse.text"></span>
              <br ng-if="verse.second_title && (isDualBible==true && isSecondaryBible==true)">
              <b ng-if="verse.second_title && (isDualBible==true && isSecondaryBible==true)"
                 ng-bind-html="verse.second_title" class="secondary-text"></b>
              <br ng-if="verse.second_text && (isDualBible==true && isSecondaryBible==true)">
              <span ng-if="verse.second_text && (isDualBible==true && isSecondaryBible==true)"
                    ng-bind-html="verse.second_text" class="secondary-text"></span>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
