<ion-view title="Search">

  <ion-header-bar class="bar-subheader item-input item-search background-highlight">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search...at least 3 letters" ng-model="searchText" ng-change="searchVerse()">
    <span class="clear-search" on-tap="searchText=''">
      <i class="icon ion-android-close"></i>
    </span>
  </ion-header-bar>

  <ion-content ng-class="fontUsageClass" padding="false">

    <ion-list class="zebra-list">
      <ion-item menu-close class="full-text" ng-repeat="verse in verses track by $index"
                on-tap="openBookChapter(verse)">

          <div class="row verse_text" style="font-weight:700;">
            {{verse.book_name}} {{verse.chapter}} - {{verse.book_number<470?'Old Testament':'New Testament'}}
          </div>

          <div class="row">

            <div class="col verse_number">{{verse.verse}}</div>

            <div class="col col-80 verse_text" ng-bind-html="verse.text">
            </div>

          </div>

      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
